:root {
  --background-color: #292b31;
  --font-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16.5%;
}

body {
  font-size: 16rem;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

